.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  margin: auto;
  background: black;

  // .canvas {
  //   width: 100% !important;
  //   height: auto !important;
  // }

  .hint {
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font: 36px monospace;
    pointer-events: none;

    &.hidden {
      display: none;
    }
  }
}
